<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script type="text/javascript" src="/js/angularjs/stories.js"></script>
<script type="text/javascript" src="/js/angularjs/storiesSecond.js"></script>
<br>

<br><br>
<div ng-app="StorySecond" ng-controller="MainCtrlSecond as mainSecond">
    <div>
        Stories
        {{mainSecond.tempTitle}}
    </div>
</div>

</body>
</html>