<!DOCTYPE html>
<html lang="en" ng-app="Story">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script type="text/javascript" src="/js/angularjs/stories.js"></script>
<script type="text/javascript" src="/js/angularjs/storiesSecond.js"></script>
<br>

<div ng-controller="MainCtrl as main">
    <div>
        Stories
        <div ng-repeat="story in main.stories" ng-click="main.setCurrentStory(story)">
            {{story.title}}<br>
        </div>
        {{main.tempTitle}}
    </div>
    <br><br>
    <div>
        <p>Story Detail</p>
        TITLE : <input type="text" ng-model="main.copiedStory.title"><br>
        STATUS : <input type="text" ng-model="main.copiedStory.status"><br>
        TYPE : <input type="text" ng-model="main.copiedStory.type"><br>
        SPEAKER : <input type="text" ng-model="main.copiedStory.speaker"><br>
        DESC : <input type="text" ng-model="main.copiedStory.desc"><br>
        <!-- -->
        <!--TITLE : <input type="text" ng-model="main.currentStory.title"><br>-->
        <!--STATUS : <input type="text" ng-model="main.currentStory.status"><br>-->
        <!--TYPE : <input type="text" ng-model="main.currentStory.type"><br>-->
        <!--SPEAKER : <input type="text" ng-model="main.currentStory.speaker"><br>-->
        <!--DESC : <input type="text" ng-model="main.currentStory.desc"><br>-->
    </div>

    <br>
    <input type="button" id="changeStory" value="변경" ng-click="main.changeStory(main.copiedStory)">
    <input type="button" id="insertStory" value="신규" ng-click="main.insertStory(main.copiedStory)">
    <input type="button" id="showStories" value="상태보기" ng-click="main.showStories()">
</div>

<br><br>
<div ng-controller="SubCtrl as subCtrl">
    <div>
        Sub <br>
        {{subCtrl.subCtrlDesc}}<br>
    </div>
</div>

<br><br>
<div ng-app="StorySecond" ng-controller="MainCtrlSecond as secondCtrl">
    <div>
        Second Module <br>
        {{secondCtrl.secondModuleDesc}}<br>
    </div>
</div>




<script type="text/javascript">
    console.log($('#changeStory').val());
</script>

</body>
</html>